*.sublime-workspace
*.sublime-project
.vagrant
webroot/WEB-INF
!webroot/WEB-INF/lucee-server
webroot/WEB-INF/lucee-server/felix-cache/*
webroot/*
!webroot/Application.cfc
!webroot/index.cfm
!webroot/test.xslx
